/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {
  box-sizing: border-box;
  text-align: center;

}

h1 {
  font-family: 'Lobster', cursive;
}

html, body  {
  height: 100%;
  color: background: #74e3ec; /* Old Browsers */
  background: -webkit-linear-gradient(top,#74e3ec,#c7ffe2); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#74e3ec,#c7ffe2); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#74e3ec,#c7ffe2); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #74e3ec, #c7ffe2); /*Standard*/
}
